<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header class = universal>
			<nav>
				<button><a href="/">home</a></button>
				<button><a href="/login">create an account</a></button>
				<button><a href="/login">login</a></button>
			</nav>
		</header>
		<h1>welcome bitchass</h1>
		<div class="secrets">
			
		</div>

	</body>
</html>
