<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>gSecrets</title>
	</head>
	<body>
		<header class = universal>
			<nav>
				<button><a href="index.hbs">home</a></button>
				<button><a href="login.hbs">create an account</a></button>
				<button>login</button>
			</nav>
		</header>
		<h1>gSecrets: Your Secrets are Safe with Us</h1>
		<h2>You Must Create an Account or Login to Continue</h2>
	</body>
</html>
