<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header class = universal>
			<nav>
				<button><a href="index.hbs">home</a></button>
				<button>create an account</button>
				<button>login</button>
			</nav>
		</header>
		<section class = left-right>
			<div class="create">
				<h2>Create an Account</h2>
				<label>username</label>
				<input type="text" name="username">
				<label>email address</label>
				<input type="text" name="email">
				</form>
				<button>Create Account Now!</button>
			</div>
			<div class="login">
				<h2>log In</h2>
				<label>Code</label>
				<input type='text' name= 'code'>
				<button>Log In</button>
			</div>
		</section>
	</body>
</html>
